<!-- <app-customer-list #customer>
  <p #para>Hello customer</p>
</app-customer-list> -->

<!-- {{customer.nameOf}}  -->

<!-- <p [ngClass]="{showColor:str==''}">{{customer.nameOf}}</p>

<p [ngStyle]="{backgroundColor:str==''?'red':'green'}">{{customer.nameOf}}</p> -->
<!-- {{customer.nameOf}} -->
<h1 appHighlight style="text-align: center;">Cards</h1>
<div>
  
<app-cards>
  <h4 class="model" style="text-align: center;">Samsung</h4>
  <button class="view">View More</button>
</app-cards>

<app-cards>
  <h4 class="model" style="text-align: center;">Nokia</h4>
  <button class="view">View More</button>
</app-cards>

<app-cards>
  <h4 class="model" style="text-align: center;">Oppo</h4>
  <button class="view">View More</button>
</app-cards>

<app-cards>
  <h4 class="model" style="text-align: center;">Realme</h4>
  <button class="view">View More</button>
</app-cards>
</div>

<button mat-fab extended>
  <mat-icon>home</mat-icon>
  Home
</button>

<button mat-flat-button>Primary Button</button>
<button mat-flat-button>Accent Button</button>
<button mat-flat-button>Warn Button</button>